*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(37, 33, 41);
    
}

nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style-type: none;
    position: relative;
}


nav ul li a {
    display: block;
    text-decoration: none;
    color: #222;
    font-size: 23px;
    padding: 17px 12px;
    
}

nav ul li ul{
    display: none;
    background-color: #fff;
    position: absolute;
    padding: 5px;
    box-sizing: 24px;
    border-radius: 0px 0px 4px 4px;

}
nav ul li:hover ul{
    display: block;

}
nav ul li ul li{   
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    
    padding: 8px 14px;
   
}
nav ul li ul li a:hover{
    background-color: #ddd;
    
}